body {
    background: #0a121f;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav {
    display: flex;
    gap: 40px;
}
header nav .header-links {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header .sign-in {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #3a68b8;
    width: 112px;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}